
<!-- Carrusel -->
<div style="top:-27px; " id="MyCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#MyCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#MyCarousel" data-slide-to="1"></li>
    <li data-target="#MyCarousel" data-slide-to="2"></li>
   
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
                 
    <div class="item active">
      <center><img src="/images/1.jpg" class="carousel-item" alt="1"> </center> 
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <center><img src="/images/2.jpg" class="carousel-item" alt="2"></center>        
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">      
        <center><img src="/images/3.jpg" class="carousel-item" alt="3"></center>        
        <div class="carousel-caption">
        </div>
    </div>
   
  </div>

  <!-- Controls-->
  <a class="left carousel-control" href="#MyCarousel" data-slide="prev">
    <img class="carousel-arrow" src="/Images/Icons/left.png">
  </a>
  <a class="right carousel-control" href="#MyCarousel" data-slide="next">
    <img class="carousel-arrow" src="/Images/Icons/right.png">
  </a>
</div>

<br>
<center><img class="separator" src="/Images/Icons/rate.png"></center>
<br>

<div class="container">
 <div class="jumbotron">
  <h1>Introducing the Binary-Band</h1>
  <br>
    <div class="row">
      <div class="col-sm-5" >
       <center><img src="/Images/fit-couple.jpg"></center> 
      </div>
      <div class="col-sm-7" >
         <p>So you visited this page for some reason. We think you came to the right place at the very precise moment. Begin now! Work with us.. We all already know you're a little (much) bit fat, that won't let you do or enjoy some little moments in life. Star the workouts you always wanted to do once and for all with our system. You will just have to pay lots of money and let us do the rest. <br>
          This band will transform your body from 0 to 1 in no time.
          Start now!
         </p>
      </div>
    </div>
 </div>

  <center><img class="separator" src="/Images/Icons/rate.png"></center>
  <br>
 <div class="jumbotron">
    <div class="row">
      <div class="col-sm-8" >
         <h1 style="{float:right;}">Zero 2 One Company</h1>
         <br>
         <p>Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us Trust us </p>
      </div>
      <div class="col-sm-4" ><center><img src="/Images/logo.png"></center></div> 
      </div>
    </div>

    <br>
  </div>
</div>


<!-- ¿¿¿¿¿¿¿¿Para que empieze a girar solo???????
<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>

<body>
  <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  </script>
</body>

<script>
  $(document).ready(function()
  {
    $('.divImagen').hover(
      function() {
        $(this).find('img').stop().animate({ 
          width:50,
          marginTop:10,
          marginLeft:10
        }, 300);
      },

      function() {
        $(this).find('img').stop().animate({
          width:150,
          marginTop:10,
          marginLeft:10
        },300);
      }
    );
  });
</script>         
-->