<h1>Login</h1>
<%= form_tag sessions_path do %>
	<div class="col-xs-3">
  		<p><%= text_field_tag :login, params[:login], :class => 'form-control', :placeholder => 'example@gmail.com' %></p>
  		<p><%= password_field_tag :password, params[:password], :class => 'form-control', :placeholder => 'Password...' %></p>
  		<p><%= submit_tag "Login", :class => "btn btn-lg btn-primary btn-block" %>
  	</div>
<% end %>

