<div class="container ">  
  <div class="col-xs-3 col-lg-3"></div>
    <div class="col-lg-6">
		<h1>Editing alarm</h1><br>
			<%= render 'form' %>
			<%= link_to 'Show', @alarm %> 
			<%= link_to 'Back', alarms_path %>
	</div>
  </div>
</div>
